@{
    ViewData["Title"] = "Inicio de Usuario";
}

<h2>Bienvenido, @User.Identity.Name</h2>

<!-- Aquí van las funcionalidades para los usuarios -->
<a href="/Prestamos/VerPrestamos">Ver préstamos</a>
